body div header {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "logo redes" "nav nav";
  background-image: url(../images/header.png);
  padding: 10px;
}
body div header #logo {
  grid-area: logo;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  padding: 1rem;
}
body div header #logo img {
  border-radius: 50%;
}
body div header #logo h1 {
  font-style: italic;
  font-weight: normal;
  font-size: 2rem;
  font-family: Impact, serif;
  color: #0f0707;
}
body div header #redes {
  grid-area: redes;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
body div header #redes a img {
  border-radius: 50%;
}
body div header nav {
  grid-area: nav;
  align-items: center;
}
body div header nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
body div header nav ul li {
  list-style-type: none;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px;
}
body div header nav ul li a:link, body div header nav ul li a:visited {
  list-style-type: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
body div header nav ul li a:hover {
  list-style-type: none;
  text-decoration: none;
  color: rgb(238, 22, 22);
}
body div header nav ul li a:active {
  list-style-type: none;
  text-decoration: none;
  color: rgb(17, 20, 209);
}

footer {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #0f0f0f;
  text-align: justify;
  padding: 2px 4rem;
  margin: 0;
  background-image: url(../images/header.png);
  border-top: solid 2px black;
  align-content: stretch;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "fLogo fUbicacion fRedes";
}
footer #bloqueLogo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  grid-area: fLogo;
  padding: 1rem;
}
<<<<<<< HEAD
footer #bloqueLogo img {
  border-radius: 50%;
=======

ul li {
    list-style-type: none ;
    text-decoration:none;
    font-style: italic;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;

}/*para los elementos de la barra navegadora, sin viñetas
en linea, sin subrayado, propiedades de estilo*/

header li a:link, header li a:visited {
    list-style-type: none ;
    text-decoration: none ;
    color: rgb(255, 255, 255); 
}/*establezco como quiero que se vea el link en distintas situaciones*/

header li a:hover {
    list-style-type: none ;
    text-decoration: none ;
    color: black;  
    transform: scale(2); 
}/*establezco como quiero que se vea el link en distintas situaciones*/

header li a:active {
    list-style-type: none ;
    text-decoration: none ;
    color: rgb(17, 20, 209); 
}/*establezco como quiero que se vea el link en distintas situaciones*/

#IrEncabezado {
    text-decoration:none;
    font-style: italic;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 1.5rem; 
    background-image: linear-gradient(to left, red, yellow);
>>>>>>> bfb0b51823eab373dabc42cd4734856c36191ff7
}
footer #bloqueLogo p {
  font-style: italic;
  font-weight: normal;
  font-size: 2rem;
  font-family: Impact, serif;
  color: #0f0707;
}
footer #bloqueUbicacion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  grid-area: fUbicacion;
  padding: 1rem;
}
footer #bloqueRedes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-area: fRedes;
  padding: 1rem;
}
footer #bloqueRedes a img {
  border-radius: 50%;
}

main {
  background-image: url(../images/header.png);
  border-top: solid 2px black;
}
main div #mainImagenes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
main div #mainImagenes img {
  width: 15rem;
  height: 12rem;
}
main div #titulo {
  text-align: center;
  font-family: "Water Brush", cursive;
  font-style: italic;
  font-weight: normal;
  font-size: 2rem;
  color: #0f0707;
}
main div div p {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #0f0f0f;
  text-align: justify;
  padding: 2px 4rem;
}
main div div p span {
  font-weight: bold;
}
main div div #Intro {
  border: solid 2px rgb(7, 7, 7);
  background-color: rgb(141, 124, 124);
  height: 200px;
  overflow: auto;
  margin: 20px 10px 20px 10px;
}
main div div #IrEncabezado {
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 1.5rem;
}
main div div #IrEncabezado:link, main div div #IrEncabezado:visited {
  list-style-type: none;
  text-decoration: none;
  color: rgb(5, 5, 5);
}

main #nosotros_main_div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main #nosotros_main_div div {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #0f0f0f;
  text-align: justify;
  padding: 2px 4rem;
  align-items: center;
}
main #nosotros_main_div div h2 {
  text-align: center;
  font-family: "Water Brush", cursive;
  font-style: italic;
  font-weight: normal;
  font-size: 2rem;
  color: #0f0707;
}
main #nosotros_main_div div p span {
  font-weight: bold;
}
main #nosotros_main_div div img {
  width: 15rem;
  height: 12rem;
}
main #nosotros_main_div div #IrEncabezado {
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 1.5rem;
}
main #nosotros_main_div div #IrEncabezado:link, main #nosotros_main_div div #IrEncabezado:visited {
  list-style-type: none;
  text-decoration: none;
  color: rgb(5, 5, 5);
}

<<<<<<< HEAD
main #serv {
  border: solid 2px rgb(7, 7, 7);
  overflow: auto;
  padding: 1.5rem;
  text-align: center;
  margin: 1.5rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #0f0f0f;
  text-align: justify;
  padding: 2px 4rem;
}
main #serv div img {
  width: 15rem;
  height: 12rem;
=======
.containerDiv{
    margin: 0;
    padding:0;
}

footer {
    margin: 0;
    background-image: linear-gradient(to left, blue, red);
    border-top: solid 2px black;
    align-content: stretch;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    "fLogo fUbicacion fRedes";    
>>>>>>> bfb0b51823eab373dabc42cd4734856c36191ff7
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
}
main div {
  border: solid 2px rgb(7, 7, 7);
  overflow: auto;
  padding: 1.5rem;
  text-align: center;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
main #datos {
  background-image: url(../images/header.png);
  border-top: solid 2px black;
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(2, auto);
  grid-template-areas: "ubic ubic" "em em" "tel tel" "hora hora";
}
main #ubicacion {
  grid-area: ubic;
  padding: 1rem;
  overflow: auto;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
main #email {
  grid-area: em;
  padding: 1rem;
  overflow: auto;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
main #telefono {
  grid-area: tel;
  padding: 1rem;
  overflow: auto;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
main #horarios {
  grid-area: hora;
  padding: 1rem;
  overflow: auto;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */


@media screen and (max-width:768px){

  header {
      display: grid;
      grid-template-rows: 0.25fr 1fr 0.5fr;
      grid-template-columns: 1fr;
      grid-template-areas: 
      "nav"
      "logo"
      "redes";
      background-image: url(../images/header.png);
      padding: 0.5rem;
  }
  
  #logo{
      grid-area: logo;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      padding: 1rem;
  }
  
  #redes{
      grid-area: redes;
      padding: 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; 
  }
  
  nav {
      grid-area: nav;
      align-items: center;
  }

  main {
      background-image: url(../images/header.png);
      border-top: dashed 2px black;
  }

  .tamanoImagen2 {
      width: 15rem;
      height: 12rem;
  }

  .remove {
      display:none;
  }
          
  #IrEncabezado {
      display:none;
  }

  .letraTexto {
      padding: 1rem 4rem;
  }

  .titulo{
      font-family: 'Georgia', cursive;
      padding: 1rem 0rem;    
  }

  footer {
      margin: 0;
      align-content: stretch;
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
      "fUbicacion fRedes";    
  }
  
  #bloqueLogo{
      display: none;
  }
  
  #bloqueUbicacion{
      grid-area: fUbicacion;
  }
  
  #bloqueRedes {
      grid-area: fRedes; 
  }

  
  .novedades div {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
  }
  

  /*cree id para las cajas del footer para jugar con sus propiedades
  de manera diferenciada*/
  #ubicacion{
      overflow: scroll;
      justify-content: center;
  }
  
 
  
  #email{
      overflow: scroll;
      padding: 1.5rem;
  }
  
  #telefono{
      overflow: scroll;
  }
  
  #horarios{
      overflow: scroll;
  }

}

@media screen and (max-width:480px){

  header {
      display: grid;
      grid-template-rows: 0.25fr 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: 
      "nav"
      "logo";
      background-image: url(../images/header.png);
      padding: 0.5rem;
  }
  

  #redes{
      display: none;
  }
  
  nav {
      grid-area: nav;
      align-items: center;
  }


  .remove2 {
      display:none;
  }
          
  .letraTexto {
      font-family: Arial, Helvetica, sans-serif;
      color: #ffffff;
  }


  footer {
      display: grid;
      grid-template-rows: 1fr 2fr;
      grid-template-columns: 1fr;
      grid-template-areas:
      "fRedes" 
      "fUbicacion";    
  }
      
  #datos {
      display: grid;
      grid-template-rows: repeat(3, auto);
      grid-template-columns: repeat(1, auto);
      grid-template-areas: 
      "em"
      "tel"
      "hora";    
  }
  
  /*cree id para las cajas del footer para jugar con sus propiedades
  de manera diferenciada*/
  #ubicacion{ 
      display: none;
  }
  

}